body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Sacramento', cursive;
  display: flex; align-items: center; justify-content: center; min-height: 100vh;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-weight: 900;



}

.qrcode {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: hsl(220, 15%, 55%);
  padding-bottom: 30px;
  padding-top: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

.centre-work {
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  width: 300px;
  border: 200px;
  padding: 15px;
  border-radius: 20px;
}

.attribution {
  font-size: 20px;
  text-align: center;
margin: 60px;
}

.attribution a {
  color: hsl(228, 45%, 44%);

}
